@media screen and (min-width: 39.9375em) {
  background-color: #e281f8;
  width: 100%;
}

@media screen and (min-width: 90.1875em) {
  background-color: #ff004c;
  width: 500px;
}

body {
  margin: 0;
}

@media screen and (min-width: 63.9375em) {
  .grid-main-item-header {
    grid-area: header;
    background-color: deepskyblue;
  }
  .grid-main-item-main {
    grid-area: main;
  }
  .grid-main-item-footer {
    grid-area: footer;
  }
  .grid-main-container {
    display: grid;
    grid-template-columns: [col1] 50px [col2] auto [col3] 50px;
    grid-template-rows: [row1] 100px [row2] 100px [row3] auto;
    grid-template-areas: "header main main" "header main main" "footer footer footer";
  }
}

.grid-main-item-header {
  grid-area: header;
  background-color: deeppink;
}

.grid-main-item-main {
  grid-area: main;
}

.grid-main-item-footer {
  grid-area: footer;
}

.grid-main-container {
  display: grid;
  grid-template-columns: [col1] 50px [col2] auto [col3] 50px;
  grid-template-rows: [row1] 100px [row2] 100px [row3] auto;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.header {
  background-color: #f38d65;
  padding: 5px;
  display: grid;
  grid-gap: 0.2em;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "header main aside";
}

@media screen and (min-width: 39.9375em) {
  .header {
    background-color: #e281f8;
    width: 100%;
  }
}

@media screen and (min-width: 90.1875em) {
  .header {
    background-color: #ff004c;
    width: 500px;
  }
}

.header h2,
.header h5 {
  margin: 0px 0px 0px 0px;
}

.header li {
  color: darkslategray;
}

.header header {
  grid-area: header;
  background-color: #e281f8;
  border: 1px solid black;
  margin: 0px auto 0px 0px;
}

.header main {
  grid-area: main;
}

.header aside {
  grid-area: aside;
  background-color: #e281f8;
  border: 1px solid black;
  margin: auto auto auto 0px;
}

.console {
  background-color: #e281f8;
  margin: 25px 0px 25px 0px;
  padding: 5px;
}

@media screen and (min-width: 39.9375em) {
  .console {
    width: 50%;
  }
}

@media screen and (min-width: 90.1875em) {
  .console {
    background-color: #ff004c;
    width: 500px;
  }
}

.console h2,
.console p {
  margin: 0px;
}

.console .console-name {
  color: #47002a;
}

.console .console-desc {
  color: #331300;
}

.pollbox-1 {
  margin: 5px 5px 5px 5px;
  padding: 5px;
  width: 95%;
  display: grid;
  grid-gap: 0.2em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 18fr 1fr 1fr;
  grid-template-areas: "main main aside" "main main aside" "footer footer footer";
}

@media screen and (min-width: 39.9375em) {
  .pollbox-1 {
    background-color: #e281f8;
    width: 600px;
  }
}

@media screen and (min-width: 90.1875em) {
  .pollbox-1 {
    background-color: #ffc6c6;
    width: 600px;
  }
}

.pollbox-1 header {
  grid-area: header;
  background-color: #e281f8;
  border: 1px solid black;
  margin: auto;
}

.pollbox-1 nav {
  grid-area: nav;
  background-color: white;
  border: 1px solid black;
  margin: auto;
}

.pollbox-1 main {
  grid-area: main;
  background-color: #ff004c;
  border: 1px solid black;
}

.pollbox-1 aside {
  grid-area: aside;
  background-color: #e281f8;
  border: 1px solid black;
  margin: auto;
}

.pollbox-1 footer {
  grid-area: footer;
  border: 1px solid black;
}

.pollbox-1 .tabContainer {
  width: 100%;
  height: 75px;
}

.pollbox-1 .tabContainer .buttonContainer {
  height: 50%;
}

.pollbox-1 .tabContainer .buttonContainer button {
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #e47878;
}

.pollbox-1 .tabContainer .buttonContainer button:hover {
  background-color: #ff3a3a;
}

.pollbox-1 .tabContainer .tabPanel {
  height: 85%;
  background-color: grey;
  color: white;
  text-align: center;
  padding-top: 105px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 22px;
  display: none;
}
/*# sourceMappingURL=main.css.map */