@media screen and (min-width: 39.9375em) {
  background-color: #f3bdff;
  width: 100%;
}

@media screen and (min-width: 90.1875em) {
  background-color: #c95d7c;
  width: 500px;
}

body {
  margin: 0;
}

/*
    Screen Sizes:
    - min-small
    - min-medium
    - min-large
    - min-extralarge
    - min-extraextralarge
*/
.layoutOne {
  width: max(100%, 320px);
}

.header-container {
  background-color: #ffe7f5;
  color: #47002a;
  padding: 5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.header-container h2,
.header-container h5 {
  margin: 0px 0px 0px 0px;
}

.header-container h5 {
  display: none;
}

@media screen and (min-width: 39.9375em) {
  .header-container h5 {
    display: initial;
  }
}

.header-container li {
  color: #47002a;
}

.header-container header {
  grid-area: header;
  background-color: #f3bdff;
  border: 1px solid #473333;
  margin: 0px 0px 0px 0px;
}

.header-container main {
  grid-area: main;
  background-color: #f3bdff;
  margin: auto auto auto 0px;
}

.header-container aside {
  grid-area: aside;
  background-color: #f3bdff;
  border: 1px solid #473333;
  margin: 0px 0px 0px 0px;
}

.header-container aside ul {
  margin: 0px;
  padding: 0px;
}

.header-container aside ul li {
  margin: 3px;
  display: inline;
}

.console {
  background-color: #e281f8;
  margin: 100px 0px 25px 0px;
  padding: 5px;
}

@media screen and (min-width: 39.9375em) {
  .console {
    width: 50%;
  }
}

@media screen and (min-width: 90.1875em) {
  .console {
    background-color: #c95d7c;
    width: 500px;
  }
}

.console h2,
.console p {
  margin: 0px;
}

.console .console-name {
  color: #47002a;
}

.console .console-desc {
  color: #331300;
}

.pollbox-1 {
  margin: 5px 5px 5px 5px;
  padding: 5px;
  width: 95%;
  display: grid;
  grid-gap: 0.1em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 18fr 1fr 1fr;
  grid-template-areas: "main main main" "main main main" "footer footer footer";
  /*  
  aside {
    grid-area: aside;
    background-color: getColor(pb-header-bg-1);
    border: getSize(pb-border-1);
    margin: auto;
  }
*/
}

@media screen and (min-width: 39.9375em) {
  .pollbox-1 {
    background-color: #f3bdff;
    width: 600px;
  }
}

@media screen and (min-width: 90.1875em) {
  .pollbox-1 {
    background-color: #ffc6c6;
    width: 600px;
  }
}

.pollbox-1 .span-pollbox-question {
  color: white;
  font-family: "Cursive";
  font-weight: bold;
  font-size: 20px;
}

.pollbox-1 .span-pollbox-answer {
  color: black;
  font-family: "Monospace";
}

.pollbox-1 header {
  grid-area: header;
  background-color: #f3bdff;
  border: 1px solid #473333;
  margin: auto;
}

.pollbox-1 nav {
  grid-area: nav;
  background-color: white;
  border: 1px solid #473333;
  margin: auto;
}

.pollbox-1 main {
  grid-area: main;
  background-color: #c95d7c;
  border: 1px solid #473333;
}

.pollbox-1 footer {
  grid-area: footer;
  border: 1px solid #473333;
  overflow: hidden;
  height: 100%;
  display: initial;
  background-color: #a1a1ff;
  box-sizing: border-box;
}

.pollbox-1 footer .tabPanel,
.pollbox-1 footer .tabPanel > ol {
  height: 100%;
  padding-top: 5px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 22px;
  font-family: sans-serif;
  font-size: 10px;
}

.pollbox-1 .tabContainer {
  width: 100%;
  height: 75px;
}

.pollbox-1 .tabContainer .buttonContainer {
  height: 50%;
}

.pollbox-1 .tabContainer .buttonContainer button {
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #30021c;
  color: #ffe4f4;
}

.pollbox-1 .tabContainer .buttonContainer button:hover {
  background-color: #5c0236;
  color: white;
}

.seperator-1-div {
  margin: 15px;
  text-align: center;
  color: #6b2a2a;
}
/*# sourceMappingURL=main.css.map */