@import "../1-helpers/_util_variables";
@import "../1-helpers/_util_functions";
@import "../1-helpers/_util_mixins";

.console {

    // view size small 2/6    
    @include screenSizeBp(min-small) {
//        background-color: getColor(pb-header-bg-1);        
        width: 50%;
    }

    // view size med 3/6    
    @include screenSizeBp(min-medium) {
//        background-color: getColor(pb-header-bg-1);
        width: 60%;
    }

    // view size large 4/6    
    @include screenSizeBp(min-large) {
//        background-color: getColor(pb-footer-bg-1);        
        width: 70%;
    }

    // view size xl 5/6    
    @include screenSizeBp(min-extralarge) {
//        background-color: getColor(pb-main-bg-1);
        width: 500px;
    }

    // view size xxl 6/6   
    @include screenSizeBp(min-extraextralarge) {
//        background-color: getColor(pb-header-bg-1);        
        width: 80%;
    }

    // view size small 1/6
    background-color: rgb(216, 194, 253);
    margin: 25px 0px 25px 0px;
    padding: 5px;

    .console-name {
        color: purple;
    }

    .console-desc {
        color: rgb(218, 68, 231);       
    }

}