$primaryColor1: #d000ff;
$primaryColor2: #ffd000;
$primaryColor3: #00ffd0;
$primaryColor1light: #f0b0ff;
$primaryColor2light: #fff0b0;
$primaryColor3light: #b0fff0;
$primaryColor1dark: #600076;
$primaryColor2dark: #766000;
$primaryColor3dark: #007660;
$secondaryColor1: #ffffff;
$secondaryColor2: #000000;
$secondaryColor3: #3f3f3f;
$secondaryColor4: #808080;
$secondaryColor5: #dfdfdf;

// COLOR SELECTIONS
$colors: (
  // layout
  layout-one-bg-1: $secondaryColor1,
  // pollbox
  pb-header-text-1: $primaryColor1,
  pb-main-bg-1: $secondaryColor1,
  pb-aside-bg-1: $secondaryColor1,
  pb-main-tab-bg-1: $secondaryColor2,
  pb-main-tab-bg-2: $secondaryColor2,
  pb-main-tab-text-1: $secondaryColor1,
  pb-main-tab-text-2: $secondaryColor1,
  pb-main-body-text-1: secondaryColor2,
  pb-main-body-text-2: secondaryColor2,
  pb-main-body-text-3: secondaryColor2,
  pb-main-body-text-4: secondaryColor2,
  // ???
  /*
  pb-nav-bg-1: rgb(212, 203, 66),
  pb-footer-bg-1: rgb(122, 243, 9),
  pb-main-bg-xl-1: rgb(255, 49, 49),
  */
    // console
  con-desc-1: $primaryColor1,
  con-bg-1: $secondaryColor1,
  con-name-1: $primaryColor1,
  // header
  header-bg-1: $secondaryColor1,
  header-text-1: $primaryColor1,
  // results box
  res-box-text-1: $primaryColor1,
  // test colors
  test-wild-1: rgb(255, 0, 221),
  test-wild-2: rgb(0, 255, 34),
  test-transparent-1: #00ff2210,
  // other
  base-body-bg-1: $secondaryColor1
);

$sizes: (
  padding-5px: 5px,
  padding-10px: 10px,
  padding-15px: 15px,
  padding-20px: 25px,
  header-border-1: 20px bottom solid $primaryColor1,
  pb-border-1: 1px solid $primaryColor1,
  pb-border-2: 2px dashed $primaryColor1,
  pb-border-3: 3px solid $primaryColor1,
  pb-header-text-1: italic bold 20px Georgia,
  console-border-1: 1px solid $primaryColor1,
  resultbox-border-1: 1px solid $primaryColor1,
  pb-container-width-small: 630px,
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}

@function getSize($size-name) {
  @return map-get($sizes, $size-name);
}
