@import "util_variables";

.console {

    background-color: getColor(background-2);

    .console-name {
        color: purple;
    }

    .console-desc {
        color: rgb(218, 68, 231);       
    }

}