@import "variables";
@import "functions";
@import "mixins";

.pollbox-1 {

    @include screenSizeBp(min-small) {
        width: 50%;
    }

    @include screenSizeBp(min-medium) {
        width: 60%;
    }


    @include screenSizeBp(min-large) {
        width: 70%;
    }

    // large view
    @include screenSizeBp(min-extralarge) {
        width: 500px;
    }

    @include screenSizeBp(min-extraextralarge) {
        width: 80%;
    }

    // small / global  view

    border: 1px solid black;
    margin: 25px 5px 25px 5px;
    padding: 5px;
    width: 85%;

    display: grid;
    grid-gap: .20em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 8fr 4fr;
    grid-template-areas: 
      "header main aside"
      "nav main aside"
      "footer main aside";

    header{
        grid-area: header;
        background-color: getColor(pb-header-bg-1);
        border: getSize(pb-border-1);
        margin: auto;
    }

    nav{
        grid-area: nav;
        background-color: getColor(pb-nav-bg-1);
        border: getSize(pb-border-2);
        margin: auto;
    }

    main{
        grid-area: main;
        background-color: getColor(pb-main-bg-1);
        border: getSize(pb-border-2);
//        margin: auto;        
    }

    aside{
        grid-area: aside;
        background-color: getColor(pb-aside-bg-1);
        border: getSize(pb-border-2);
        margin: auto;        
    }

    footer{
        grid-area: footer;
        background-color: getColor(pb-footer-bg-1);
        border: getSize(pb-border-2);
        margin: auto;        
    }
}
