@import "../1-helpers/util_variables";
@import "../1-helpers/_util_functions";
@import "../1-helpers/_util_mixins";

.header-container {
  h2,
  h5 {
    margin: 0px 0px 0px 0px;
  }

  @include screenSizeBp(min-small) {
  }

  @include screenSizeBp(min-medium) {
  }

  background-color: getColor(header-bg-1);
  color: getColor(header-text-1);

  li {
    color: #47002a;
  }

  padding: 5px;
  display: grid;
  grid-gap: 0.2em;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 0fr 2fr;
  grid-template-areas: "header main aside";

  header {
    grid-area: header;
    background-color: getColor(pb-header-bg-1);
    border: getSize(pb-border-1);
    margin: 0px 0px 0px 0px;
  }

  main {
    grid-area: main;
    background-color: getColor(pb-header-bg-1);
    margin: auto auto auto 0px;
  }

  aside {
    grid-area: aside;
    background-color: getColor(pb-header-bg-1);
    border: getSize(pb-border-1);
    margin: 0px 0px 0px 0px;

    ul li {
      margin: 3px;
      display: inline;
    }
  }
}
