@import "../1-helpers/util_variables";
@import "../1-helpers/_util_functions";
@import "../1-helpers/_util_mixins";

.header {

    background-color: rgb(216, 194, 253);
    padding: 5px;

    display: grid;
    grid-gap: .20em;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
        "header main aside";

    header{
        grid-area: header;
        background-color: getColor(pb-header-bg-1);
        border: getSize(pb-border-1);
        margin: 0px auto 0px 0px;
    }

    aside{
        grid-area: aside;
        background-color: getColor(pb-header-bg-1);
        border: getSize(pb-border-1);
        margin: auto auto auto 0px;
    }

}