@import "util_variables";
@import "util_functions";
@import "util_mixins";

.pollbox-1 {

    // view size small 2/6    
    @include screenSizeBp(min-small) {
        background-color: getColor(pb-header-bg-1);        
        width: 50%;
    }

    // view size med 3/6    
    @include screenSizeBp(min-medium) {
        background-color: getColor(pb-header-bg-1);
        width: 60%;
    }

    // view size large 4/6    
    @include screenSizeBp(min-large) {
        background-color: getColor(pb-footer-bg-1);        
        width: 70%;
    }

    // view size xl 5/6    
    @include screenSizeBp(min-extralarge) {
        background-color: getColor(pb-main-bg-1);
        width: 500px;
    }

    // view size xxl 6/6   
    @include screenSizeBp(min-extraextralarge) {
        background-color: getColor(pb-header-bg-1);        
        width: 80%;
    }

    // view size small 1/6
    border: 1px solid black;
    margin: 25px 5px 25px 5px;
    padding: 5px;
    width: 95%;

    display: grid;
    grid-gap: .20em;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 8fr 4fr;
    grid-template-areas: 
      "header main aside"
      "nav main aside"
      "footer main aside";

    header{
        grid-area: header;
        background-color: getColor(pb-header-bg-1);
        border: getSize(pb-border-1);
        margin: auto;
    }

    nav{
        grid-area: nav;
        background-color: getColor(pb-nav-bg-1);
        border: getSize(pb-border-2);
        margin: auto;
    }

    main{
        grid-area: main;
        background-color: getColor(pb-main-bg-1);
        border: getSize(pb-border-2);
    }

    aside{
        grid-area: aside;
        background-color: getColor(pb-aside-bg-1);
        border: getSize(pb-border-2);
        margin: auto;        
    }

    footer{
        grid-area: footer;
        background-color: getColor(pb-footer-bg-1);
        border: getSize(pb-border-2);
        margin: auto;        
    }
}
