@import "../1-helpers/_util_variables";
@import "../1-helpers/_util_functions";
@import "../1-helpers/_util_mixins";

.console {
  /***** VIEW SIZE [xs, 1/6] *****/
  background-color: getColor(con-bg-1);
  border: getSize(console-border-1);

  .console-name {
    color: getColor(con-name-1);
  }

  /***** VIEW SIZE [sm, 2/6] *****/
  @include screenSizeBp(min-small) {
  }
}
