@import "../1-helpers/_util_variables";
@import "../1-helpers/_util_functions";
@import "../1-helpers/_util_mixins";

.pollbox-1 {
  // VIEW xs 1/6
  padding: getSize(padding-5px);

  display: grid;
  grid-gap: 0.1em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 18fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

  .span-pollbox-question {
    color: getColor(pb-header-text-1);
    font: getSize(pb-header-text-1);
  }

  main {
    grid-area: main;
    background-color: getColor(pb-main-bg-1);
    border: getSize(pb-border-1);
  }

  footer {
    grid-area: footer;
    border: getSize(pb-border-1);
    overflow: hidden;
    height: auto;
    background-color: rgb(204, 204, 252);
    box-sizing: border-box;

    .pollTypeIRV {
      color: getColor(pb-main-body-text-1);
      list-style-type: georgian;
    }

    .pollTypeApproval {
      color: getColor(pb-main-body-text-2);
      list-style-type: katakana-iroha;
    }

    .pollTypeRC {
      color: getColor(pb-main-body-text-3);
      list-style-type: hiragana;
    }

    .pollTypeSTAR {
      color: getColor(pb-main-body-text-4);
    }

    .tabPanel,
    .tabPanel > ol {
      height: 100%;
      padding-top: 0px;
      box-sizing: border-box;
      font-family: sans-serif;
      font-size: 20px;
      font-family: sans-serif;
    }
  }

  .tabContainer {
    .buttonContainer {
      button {
        width: 25%;
        border: none;
        cursor: pointer;
        padding: 10px;
        background-color: getColor(pb-main-tab-bg-1);
        color: getColor(pb-main-tab-text-1);
      }

      button:hover {
        background-color: getColor(pb-main-tab-bg-2);
        color: getColor(pb-main-tab-text-2);
      }
    }
  }

  // view size xl 5/6
  @include screenSizeBp(min-small) {
    //    max-width: 630px;
    //    min-width: 630px;
    //    margin: 0 auto;
  }
}
