.resultbox-container {
  border: getSize(resultbox-border-1);
  color: getColor(res-box-text-2);
  padding: getSize(padding-15px);

  /*
  p {
    background-color: black;
    color: white;
    width: fit-content;
  }
  */

  .resultbox-graph-container {
    border: getSize(resultbox-border-1);
    color: getColor(res-box-text-1);
    padding: getSize(padding-10px);
    background-color: getColor(res-box-bg-1);
  }
}
