body {
  margin: 0;
  background-color: #ffffff;
}

/****************************
    Screen Sizes: 
    - min-small 
    - min-medium 
    - min-large 
    - min-extralarge 
    - min-extraextralarge 
*****************************/
.layoutOne {
  width: max(100%, 320px);
}

.layoutOne .grid-main-item-main {
  background-color: #ffffff;
  padding-top: 45px;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  height: 35px;
  width: 100%;
  background-color: #ff00dd;
  color: #d000ff;
  padding: 5px;
  border-bottom: header-border-1;
}

.header-container h3,
.header-container h5 {
  margin: 0px;
}

.header-container .pollingoLogoMed {
  display: none;
}

@media screen and (min-width: 39.9375em) {
  .header-container * .pollingoLogoMed {
    display: initial;
  }
  .header-container * .pollingoLogoSmall {
    display: none;
  }
}

.header-container header {
  background-color: #ffffff;
  border: 1px solid #d000ff;
  padding: 5px;
  width: fit-content;
  height: fit-content;
}

.header-lower-container {
  background: #ffffff;
  border-bottom: 1px solid grey;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 50px;
}

.header-lower-container .header-flex-item {
  color: red;
  border: 1px solid black;
  margin: 0px 5px;
}

.header-lower-container .button {
  border-radius: 15px;
  margin: 3px;
  padding: 7px;
}

.header-lower-container .button-unselected {
  background-color: white;
  color: black;
  border: 1px solid #8d8d8d;
}

.header-lower-container .button-unselected:hover {
  background-color: #ececec;
}

.header-lower-container .button-selected {
  background-color: #474747;
  color: white;
  border: 1px solid #000000;
}

.header-lower-container .button-selected:hover {
  background-color: #727272;
}

.console {
  /***** VIEW SIZE [xs, 1/6] *****/
  background-color: #ffffff;
  border: 1px solid #d000ff;
  /***** VIEW SIZE [sm, 2/6] *****/
}

.console .console-name {
  color: #d000ff;
}

.pollbox-1 {
  padding: 5px;
  display: grid;
  grid-gap: 0.1em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 18fr 1fr 1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
}

.pollbox-1 .span-pollbox-question {
  color: #d000ff;
  font: italic bold 20px Georgia;
}

.pollbox-1 main {
  grid-area: main;
  background-color: #ffffff;
  border: 1px solid #d000ff;
}

.pollbox-1 footer {
  grid-area: footer;
  border: 1px solid #d000ff;
  overflow: hidden;
  height: auto;
  background-color: #ccccfc;
  box-sizing: border-box;
}

.pollbox-1 footer .pollTypeIRV {
  color: secondaryColor2;
  list-style-type: georgian;
}

.pollbox-1 footer .pollTypeApproval {
  color: secondaryColor2;
  list-style-type: katakana-iroha;
}

.pollbox-1 footer .pollTypeRC {
  color: secondaryColor2;
  list-style-type: hiragana;
}

.pollbox-1 footer .pollTypeSTAR {
  color: secondaryColor2;
}

.pollbox-1 footer .tabPanel,
.pollbox-1 footer .tabPanel > ol {
  height: 100%;
  padding-top: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
  font-family: sans-serif;
}

.pollbox-1 .tabContainer .buttonContainer button {
  width: 25%;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
}

.pollbox-1 .tabContainer .buttonContainer button:hover {
  background-color: #000000;
  color: #ffffff;
}

@media screen and (min-width: 39.9375em) {
  .pollbox-1 * {
    max-width: 630px;
  }
}

.separator-1-div {
  margin: 15px;
  text-align: center;
  color: #6b2a2a;
}

.resultbox-container {
  border: 1px solid #d000ff;
  color: #d000ff;
  padding: 15px;
}

.resultbox-container .resultbox-graph-container {
  border: 1px solid #d000ff;
  color: #d000ff;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */