@media screen and (min-width: 39.9375em) {
  * {
    width: 100%;
  }
}

body {
  margin: 0;
}

/****************************
    Screen Sizes: 
    - min-small 
    - min-medium 
    - min-large 
    - min-extralarge 
    - min-extraextralarge 
*****************************/
.layoutOne {
  width: max(100%, 320px);
}

.layoutOne .grid-main-item-main {
  background-color: #c2f1ff;
  padding-top: 80px;
  padding-bottom: 30px;
  margin-top: 0px;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffe7f5;
  color: #47002a;
  padding: 0px 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: li;
  border-color: #47002a;
}

.header-container h3 {
  font-size: 40px;
}

.header-container h3,
.header-container h5 {
  margin: 0px 0px 0px 0px;
}

.header-container .pollingoLogoMed {
  display: none;
}

@media screen and (min-width: 39.9375em) {
  .header-container * .pollingoLogoMed {
    display: initial;
  }
  .header-container * .pollingoLogoSmall {
    display: none;
  }
}

.header-container header {
  grid-area: header;
  background-color: #f3bdff;
  border: 1px solid #473333;
  margin: 0px 0px 0px 0px;
}

.header-container main {
  grid-area: main;
  background-color: #f3bdff;
  margin: auto auto auto 0px;
}

.header-container aside {
  grid-area: aside;
  background-color: #f3bdff;
  border: 1px solid #473333;
  margin: 0px 0px 0px 0px;
}

.header-container aside ul {
  margin: 0px;
  padding: 0px;
}

.header-container aside ul li {
  margin: 3px;
  display: inline;
}

.header-lower-container {
  background: #ffe7f5;
  border-bottom: 1px solid grey;
  padding: 5px;
  position: fixed;
  width: 100%;
  top: 50px;
}

.header-lower-container .header-flex-item {
  color: red;
  border: 1px solid black;
  margin: 0px 5px;
}

.header-lower-container .button {
  border-radius: 15px;
  margin: 3px;
  padding: 7px;
}

.header-lower-container .button-unselected {
  background-color: white;
  color: black;
  border: 1px solid #8d8d8d;
}

.header-lower-container .button-unselected:hover {
  background-color: #ececec;
}

.header-lower-container .button-selected {
  background-color: #474747;
  color: white;
  border: 1px solid #000000;
}

.header-lower-container .button-selected:hover {
  background-color: #727272;
}

.console {
  background-color: #e281f8;
  margin: 0px 0px 0px 0px;
  padding: 5px;
}

@media screen and (min-width: 39.9375em) {
  .console * {
    width: 50%;
  }
}

@media screen and (min-width: 90.1875em) {
  .console * {
    width: 100%;
  }
}

.console h2,
.console p {
  margin: 0px;
}

.console .console-name {
  color: #47002a;
}

.console .console-desc {
  color: #331300;
}

.pollbox-1 {
  margin: 5px 5px 5px 5px;
  padding: 5px;
  width: 95%;
  display: grid;
  grid-gap: 0.1em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 18fr 1fr 1fr;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  /*  
  aside {
    grid-area: aside;
    background-color: getColor(pb-header-bg-1);
    border: getSize(pb-border-1);
    margin: auto;
  }
*/
}

@media screen and (min-width: 39.9375em) {
  .pollbox-1 * {
    background-color: #f3bdff;
    width: 600px;
  }
}

@media screen and (min-width: 90.1875em) {
  .pollbox-1 * {
    background-color: #ffc6c6;
    width: 600px;
  }
}

.pollbox-1 .span-pollbox-question {
  color: white;
  font-family: "Cursive";
  font-weight: bold;
  font-size: 20px;
}

.pollbox-1 .span-pollbox-answer {
  color: black;
  font-family: "Monospace";
}

.pollbox-1 header {
  grid-area: header;
  background-color: #f3bdff;
  border: 1px solid #473333;
  margin: auto;
}

.pollbox-1 nav {
  grid-area: nav;
  background-color: white;
  border: 1px solid #473333;
  margin: auto;
}

.pollbox-1 main {
  grid-area: main;
  background-color: #c95d7c;
  border: 1px solid #473333;
}

.pollbox-1 footer {
  grid-area: footer;
  border: 1px solid #473333;
  overflow: hidden;
  height: auto;
  background-color: #ccccfc;
  box-sizing: border-box;
  /*
    .tabPanel {
      //      height: 500px;
      //      display: inline-block;
    }

    .formOff {
      //      display: none;
    }
    */
}

.pollbox-1 footer .pollTypeIRV {
  color: #700000;
  list-style-type: georgian;
}

.pollbox-1 footer .pollTypeApproval {
  color: #000072;
  list-style-type: katakana-iroha;
}

.pollbox-1 footer .pollTypeRC {
  color: #026807;
  list-style-type: hiragana;
}

.pollbox-1 footer .pollTypeSTAR {
  color: #695a05;
}

.pollbox-1 footer .tabPanel,
.pollbox-1 footer .tabPanel > ol {
  height: 100%;
  padding-top: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
  font-family: sans-serif;
}

.pollbox-1 .tabContainer .buttonContainer {
  height: 50%;
}

.pollbox-1 .tabContainer .buttonContainer button {
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #30021c;
  color: #ffe4f4;
}

.pollbox-1 .tabContainer .buttonContainer button:hover {
  background-color: #5c0236;
  color: white;
}

.separator-1-div {
  margin: 15px;
  text-align: center;
  color: #6b2a2a;
}

* {
  color: blue;
}

p {
  color: red;
}
/*# sourceMappingURL=main.css.map */