$colors: (
  primary-1: rgb(134, 133, 78),
  primary-2: rgb(0, 0, 0),
  secondary-1: rgb(106, 250, 10),
  secondary-2: rgb(0, 0, 0),
  accent-1: rgb(4, 255, 234),
  accent-2: rgb(0, 0, 0),
  background-1: rgb(5, 42, 255),
  background-2: rgb(0, 0, 0),
  con-desc-1: rgb(51, 19, 0),
  con-bg-1: rgb(226, 129, 248),
  con-name-1: rgb(71, 0, 42),
  header-bg-1: rgb(255, 44, 167),
  header-text-1: rgb(71, 0, 42),
  pb-header-bg-1: rgb(243, 189, 255),
  pb-main-bg-1: rgb(201, 93, 124),
  pb-aside-bg-1: rgb(251, 253, 255),
  pb-nav-bg-1: rgb(255, 255, 255),
  pb-footer-bg-1: rgb(255, 255, 255),
  pb-main-bg-xl-1: rgb(255, 198, 198),
  pb-main-tab-bg-1: rgb(48, 2, 28),
  pb-main-tab-bg-2: rgb(92, 2, 54),
  pb-main-tab-text-1: rgb(221, 197, 211),
  pb-main-tab-text-2: rgb(255, 255, 255),
);

$sizes: (
  pb-border-1: 1px solid rgb(71, 51, 51),
  pb-border-2: 2px dashed rgb(255, 255, 255),
  pb-border-3: 3px solid rgb(255, 255, 255),
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}
