@import "../1-helpers/util_variables";
@import "../1-helpers/_util_functions";
@import "../1-helpers/_util_mixins";

.header-container {
  // ----- xsmall plus --------------------

  display: flex;
  flex-flow: row nowrap;

  position: fixed;
  height: 35px;
  width: 100%;

  background-color: getColor(test-wild-1);
  color: getColor(header-text-1);
  padding: getSize(padding-5px);
  border-bottom: header-border-1;

  h3,
  h5 {
    margin: 0px;
  }

  .pollingoLogoMed {
    display: none;
  }

  @include screenSizeBp(min-small) {
    // ----- small plus --------------------

    // switch the logos
    .pollingoLogoMed {
      display: initial;
    }

    // switch the logos
    .pollingoLogoSmall {
      display: none;
    }
  }

  // ----- FLEX AREAS -------------------------
  header {
    background-color: getColor(pb-header-bg-1);
    border: getSize(pb-border-1);
    padding: getSize(padding-5px);
    width: fit-content;
    height: fit-content;
  }

  main {
    //    grid-area: main;
  }

  aside {
    //    grid-area: aside;
  }
}
