@import "../1-helpers/_util_variables";
@import "../1-helpers/_util_functions";
@import "../1-helpers/_util_mixins";

/****************************
    Screen Sizes: 
    - min-small 
    - min-medium 
    - min-large 
    - min-extralarge 
    - min-extraextralarge 
*****************************/

.layoutOne {
  width: unquote("max(100%, 320px)");

  .grid-main-item-main {
    background-color: getColor(secondary-1);
    padding-top: 45px; // needed to clear header
  }
}
