@import "../1-helpers/_util_variables";
@import "../1-helpers/_util_functions";
@import "../1-helpers/_util_mixins";

/****************************
    Screen Sizes: 
    - min-small 
    - min-medium 
    - min-large 
    - min-extralarge 
    - min-extraextralarge 
*****************************/

.layoutOne {
  // apparently max()/min() is also a sass function so
  // need to use unquote()
  width: unquote("max(100%, 320px)");

  .grid-main-item-main {
    background-color: rgb(194, 241, 255);
    padding-top: 80px;
    padding-bottom: 30px;
    margin-top: 0px;
  }
}
